.home {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(36,42,45,.8), rgba(36,42,45,.8)) , url("https://worldwise-lemon.vercel.app/_next/static/media/bg.eced8263.jpg");
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center ;
}

.pricing, .product {
  width: 100vw;
  height: 100vh;
}

@media screen and (min-width: 1170px) {
  .navy {
    position: absolute;
    right: 0;
  }
}